.body {
  margin: 5% 10%;
  text-align: center;
  background-color: #ffffff;
}

.header .header__title{
  text-decoration: overline;
  color: rgb(223, 127, 120);
}

.main{
  text-align: justify;
}

.main .main__tittle{
  text-decoration: underline;
  color: rgb(223, 127, 120);
  font-size: 25px;
}

.main .main__form{
  margin-left: 20px;
}

.main .main__form .main__form--inputs{
  margin: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  padding: 10px;
}

.main .main__form .main__form--inputs label{
  border-bottom: 1px solid rgb(223, 127, 120);
  font-size: 20px;
}

.main .main__form .main__form--inputs input{
  border: 1px solid rgb(223, 127, 120);
  border-radius: 10px;
  padding: 10px;
}


.main .main__form .main__form--inputs, .main__form--btns{
  margin: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

.main .main__form .main__form--btns button {
  background-color: rgb(223, 127, 120) ;
  color: #ffffff;
  border: none;
  height: 25px;
  border-radius: 10px;
}




